void tag_invoke(json::FromJsonTag<{{enum.full_name}}> /* tag */, {{enum.full_name}} &target,
                boost::system::error_code &ec, const boost::json::value &jvRoot)
{
    if (!jvRoot.is_string())
    {
        EVENTSUB_INTO_BAIL_HERE(error::Kind::ExpectedString);
    }
    std::string_view eString(jvRoot.get_string());

    using namespace std::string_view_literals;

{%- for constant in enum.constants %}
    if (eString == "{{constant.json_name}}"sv) {
        target = {{enum.full_name}}::{{constant.name}};
        return;
    }
{%- endfor %}

    EVENTSUB_INTO_BAIL_HERE(error::Kind::UnknownEnumValue);
}
