const auto *jv{{field.name}} = root.if_contains("{{field.json_name}}");
if (jv{{field.name}} == nullptr)
{
    {% include 'error-missing-field.tmpl' indent content %}
}
{% if field.tag %}
static_assert(false, "tag for {{field.type_name}}::{{field.name}}");
{% endif %}
if (!json::fromJson(target.{{field.name}}, ec, *jv{{field.name}}))
{
    return;
}
