const auto *jv{{field.name}} = root.if_contains("{{field.json_name}}");
if (jv{{field.name}} != nullptr && !jv{{field.name}}->is_null())
{
    {% if field.tag %}
    static_assert(false, "tag for {{field.type_name}}::{{field.name}}");
    {% endif %}
    {% if field.dont_fail_on_deserialization %}
    boost::system::erorr_code innerEc; // ignored
    json::fromJson(target.{{field.name}}.emplace(), innerEc, *jv{{field.name}});
    {% else %}
    if (!json::fromJson(target.{{field.name}}.emplace(), ec, *jv{{field.name}}))
    {
        return;
    }
    {% endif %}
}

